body {
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.eyes {
    width: 300px;
    cursor: pointer;
    transition: all ease-in-out 6s;
}

.eyes:hover, 
.eyes:active {
    opacity: 0;
}

.music-player-full-page {
    visibility: hidden;
}
